* { 
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

#third {
	color: yellow;
}

#headingsecond {
	text-transform: uppercase;
}

.lang {
	background-color: #AED0A1;
}


li[value="1"] {
	border-width: 2px;
	border-style: solid;
	border-color: lightsteelblue;
}

li[value="2"] {
	border-width: 2px;
	border-style: solid;
	border-color: lightsteelblue;
}

li[value="3"] {
	border-width: 2px;
	border-style: solid;
	border-color: lightsteelblue;
}

li[value="4"] {
	border-width: 2px;
	border-style: solid;
	border-color: lightsteelblue;
}

h1 {
	font-size: 45px;
}

section + h4 {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;

}

ul > li {
	letter-spacing: 5px;
	list-style-type: none;
}